<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="_1_MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>QuickMatch - a service of LendingTree </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../Styles/style.css" type="text/css" />
 
 <!--[if IE 9]>
<link rel="stylesheet" href="../Styles/ie9.css" type="text/css" />
<![endif]-->


    <!--[if IE 7]>
<link rel="stylesheet" href="../Styles/ie7.css" type="text/css" />
<![endif]-->


    <script src="~/Scripts/JScript.js" type="text/javascript"></script>
    <!-- JS -->
    <script src="../Scripts/screen.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="_pageSmartTip" class="smartTipWindow" onclick="this.style.display='none';">
    </div>
    <div class="website-wrapper">
        <div id="topheader" class="png">
            <span id="tagline" class="inline">Get mortgage offers </span>
        </div>
        <div id="step1" class="board-content-data">
            <div class="left-rail inline">
                <div id="page1RailHeader" class="stroke">
                    <h2>
                        Lower Your<br />
                        Mortgage Payment
                        <br />
                        and Save Money Now!</h2>
                </div>
                <div id="page1RailRates" class="stroke">
                    <h2>
                        Refinance Rates From</h2>
                    <div class="rate">
                        <%=RefinanceRate%>%
                        <br />
                        (<%=APR%>% APR)*</div>
                    <h2>
                        Affordable Mortgage Payments</h2>
                    <div class="smallLabel">
                        Payment examples below based on 5/1 ARM Rates</div>
                </div>
                <div id="payments">
                    <h2 class="green">
                        $225,000 mortgage for $889/month
                    </h2>
                    <h2 class="green">
                        $250,000 mortgage for $988/month
                    </h2>
                    <h2 class="green">
                        $400,000 mortgage for $1,606/month
                    </h2>
                    <div class="disclosure">
                        <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/advertising-disclosures')">
                            Full Advertising Disclosures</a>
                    </div>
                </div>
            </div>
            <div class="form-fields">
                <div id="page1FormHeader" class="png">
                    <h2>
                        Get FREE Quotes from Trusted Lenders</h2>
                    <h3 class="ssnOptional">
                        No SSN Required
                    </h3>
                </div>
                <div class="form-content png">
                    <div class="dropdown-item">
                        <div id="form_inner_1step">
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>
                </div>
                <div class="form-fields-end png">
                    &nbsp;</div>
            </div>
            <!--form fields-->
            <div class="clear">
            </div>
        </div>
        <div class="clear">
            &nbsp;</div>
        
        <div id="footer-wrapper">
            <div id="footer" class="board">
                <div class="footer-logo">
                    <a target="_blank" href="http://www.bbb.org/charlotte/business-reviews/online-loans-referral-services/lendingtree-in-charlotte-nc-109412">
                        <img src="https://mortgage-rate-offers.com/images/bbb-logo.gif" alt="bbb-logo" /></a>
                    <a target="_blank" href="http://quickmatch.lendingtree.com/LT_housing.asp">
                        <img src="https://mortgage-rate-offers.com/images/house-logo.gif" alt="house-logo" /></a>
                    <!--CERTIFICATE TRUST LOGO-->
                    <span id="siteseal">
                        <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=2nOOUr9eTPDXWnZhyCuzuV3T0u15tx2nRXhbr6K9zjPWT8FdsYJea78Nk8"></script>
                        <br />
                        <a style="font-family: arial; font-size: 9px" href="http://www.godaddy.com/email/email-hosting.aspx"
                            target="_blank">email hosting</a></span>
                    <!--END CERTIFICATE TRUST LOGO-->
                    <p>
                        Online Security:<a target="_blank" href="http://www.lendingtree.com/about-us/online-security/">
                            <span>Protect Against Fraud</span></a></p>
                </div>
                <!--End .footer-logo-->
                <div class="footer-text">
                    <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/privacy-policy', 550, 450)">
                        Privacy Policy</a> | <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/terms-of-use')">
                            Terms of Use</a> | <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/licenses-and-disclosures',550, 450)">
                                Licenses &amp; Disclosures</a> | <a href="javascript:STMRCWindow('https://www.lendingtree.com/legal/advertising-disclosures',550, 450)">
                                Full Advertising Disclosures</a><br />
                    <br />
                    <p style="text-align: left;">
                        LendingTree technology and processes are patented under U.S. Patent Nos. 6,385,594
                        and 6,611,816 and licensed under U.S. Patent Nos. 5,995,947 and 5,758,328. © 1998
                        - 2011 LendingTree, LLC. All Rights Reserved. This site is directed at, and made
                        available to, persons in the continental U.S., Alaska and Hawaii only.</p>
                </div>
                <!--End .footer-text-->
            </div>
            <!--End #footer-->
        </div>
        <!--End .website-wrapper-->
    </div>
    <uc:ViewSession ID="ViewSession1" runat="server" />
    </form>
</body>
</html>
