<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="_1_MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>QuickMatch - a service of LendingTree </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../Styles/style.css" type="text/css" />
    <!--[if IE 7]>
<link rel="stylesheet" href="../Styles/ie7.css" type="text/css" />
<![endif]-->
    <script src="~/Scripts/JScript.js" type="text/javascript"></script>
    <!-- JS -->
    <script src="../Scripts/screen.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="_pageSmartTip" class="smartTipWindow" onclick="this.style.display='none';">
    </div>
    <div class="website-wrapper">
        <div id="topheader" class="png">
            <span id="tagline" class="inline">Get instant mortgage offers </span>
            <%--            <div id="promoHeader" class="header inline hide">
            </div>
            <div id="promoSubHeader" class="subheader">
            </div>
            <div id="promoDisclosure" class="disclosure">
                <a href="javascript:;"></a>
            </div>
            <div id="telephone">
            </div>--%>
        </div>
         <div id="step1" class="board-content-data">
      <div class="center-rail">
        <h2>Compare Multiple Loan Offers for Free in Minutes! </h2>
        <h2 class="green"> Refinance Rates From 2.5% (3.244% APR) </h2>
      </div>
      <div class="form-fields-inner">
            <div class="form-fields">
               <div id="page1FormHeader" class="png"></div>
          <div class="form-content png">
            <div class="dropdown-item">
              <div id="form_inner_1step">
                <div>
                  <div style="margin-bottom: 18px; margin-left: 0px; width: 350px;">
                    <div class="progress-1"></div>
                    
                    <div style="padding-left: 8pt; display: inline;">
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                       </div>
                  </div>
                </div>
                <div> </div>
                <div> </div>
                <div>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="form-fields-end png"> &nbsp;</div>
        </div>
        <div> 
            <!--form fields-->
           <div class="clear"> </div>
        </div>
        <div class="clear"> &nbsp;</div>
        <div id="reviewContainer">
          <div id="reviewContainer-block1">
            <h3>Quick and Easy</h3>
            <ul>
              <li>See Instant Mortgage Offers</li>
              <li>No SSN Required</li>
              <li>No Obligation</li>
            </ul>
          </div>
          <div id="reviewContainer-block2">
            <h3>Affordable Mortgage Payments</h3>
            <span class="slog"> Example payments are for a 5/1 adjustment rate at 3.44% APR.*</span>
            <ul>
              <li> $150,000 mortgage for $653/mo. </li>
              <li> $200,000 mortgage for $871/mo. </li>
              <li> $150,000 mortgage for $1,306/mo. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-wrapper">
      <div id="footer" class="board"> 
        
        <!--End .footer-logo-->
        
        <div class="footer-text"> <a href="javascript:STMRCWindow('http://www.lendingtree.com/stmrc/privacy.asp?nonav=true&bp=ltquickmatch', 550, 450)"> Privacy Policy</a> | <a href="javascript:STMRCWindow('http://www.lendingtree.com/stmrc/termsofuse.asp?bp=v3&nonav=true')"> Terms of Use</a> | <a href="javascript:STMRCWindow('http://www.lendingtree.com/stmrc/disclosure.asp?nonav=true&bp=ltquickmatch',550, 450)"> Licenses &amp; Disclosures</a><br />
          <br />
          <p style="text-align: left;"> LendingTree technology and processes are patented under U.S. Patent Nos. 6,385,594
            
            and 6,611,816 and licensed under U.S. Patent Nos. 5,995,947 and 5,758,328. © 1998
            
            - 2011 LendingTree, LLC. All Rights Reserved. This site is directed at, and made
            
            available to, persons in the continental U.S., Alaska and Hawaii only.</p>
        </div>
        
        <!--End .footer-text--> 
        
      </div>
      
      <!--End #footer--> 
          
        </div>
        <!--End .website-wrapper-->
    </div>
    <uc:ViewSession ID="ViewSession1" runat="server" />
    </form>
</body>
</html>

