/*@charset "utf-8";
.custom.css {
}


li {
	display: inline;
}

.nav-bar {
	
}

.nav-bar-button {

}

a.dropdown-item:hover {
    text-decoration:none;
}

ul.dropdown-list {
    font-size:0.7rem;
    list-style-type: none;
}*/