

header {
    background-color: #499cf4;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    top:0px;
    width: 100%;
    height: 406px;
    z-index: -1;
}

header p {
	color: white;
	text-align: right;
    margin-right: 467px;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-size: 18px;
}

.header-side-text {
    color: white;
	text-align: right;
    margin-right: 467px;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-size: 18px;
}

.image-overlay {
background: top url(../Images/top_box.png) no-repeat;
z-index: 2;

}

.title-bar {
    margin-left:auto;
    margin-right:auto;
    height: 107px;
    margin-top: 0px;
    width:955px;
    height:20px;
    padding-top: 30px;
}

.title-bar p {
    text-align: center;
    font-size: 30px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: bold;
    padding-top: 13px;
    color: #111;
}

.body-content {
    background-color: transparent;
    display: table;
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
    padding-bottom:100px;
}

.header-graphics {
    display:table;
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    overflow:auto;
    z-index: 3;
}

.container {
    z-index: 1;
    width: 100%;
    /*padding: 0px 10px 10px 10px;*/
    overflow:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    /*background-image: url(../Images/whitepadding.png) repeating-linear-gradient(to right, RGB(0,255,255), RGB(255,255,255));*/
}

.i-btn {
    position: fixed;
    bottom: 100px;
    margin-left: -30px;
}

.footer {
    background-color: #25579d;
    width: 100%;
    position:fixed;
    bottom: 0;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-style: normal;
    float: left;
    left: 0px;
}

.footer p {
    color: white;
    text-align:center;
    margin: 65px 0px 50px;
}

table.table1 {
    padding:6px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 23px;
    font-family: "Proxima Nova", sans-serif;
    color: #747474;
}
table.table1 th {
    padding:6px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 23px;
    font-family: "Proxima Nova", sans-serif;
    color: #747474;
}
table.table1 td {
    padding:6px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 23px;
    font-family: "Proxima Nova", sans-serif;
    color: #747474;
}

table.table2 {
    padding: 2px;
    margin: 2px;
}
table.table2 th {
    padding:2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    font-family: "Proxima Nova", sans-serif;
    color: #747474;
}
table.table2 td.a {
    padding:2px 0px;
    font-size: 15px;
    font-family: "Proxima Nova", sans-serif;
    color: #ababab;
}
table.table2 td.b {
    padding: 0px 40px;
    font-size: 15px;
    font-weight: 100;
    font-family: "Proxima Nova", sans-serif;
    color: #111;
}

.radio-btn-position {
    color:#5a5a56;
    opacity: 0.9;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
}

/*Subtext (Max: 1000 results)*/
h7 {
    padding-left: 2em;
    padding-right: 2em;
}

h8 {
    color: #ababab;
    font-weight: 100;
}

.result-heading {
    color: #000;
}

.eta-indicator {
    text-align: center;
    padding: 2px;
}

.big-orange-btn-location {
    padding: 10px;
    align-content: center;
    text-align: center;
}

.form-field {
    border:solid 5px;
    border-color: #f2f2f2;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
}

.radio-btn {

}

.processed-heading {
    padding: 2px 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-family: "Proxima Nova", sans-serif;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}