/**Application Index**/

table.application {
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}

div.big-orange-btn-location {
    text-align:center;
    padding-bottom:40px;
}

input.form-field {
    padding-right:10px;
}

td.app-column {
    padding-bottom:15px;
    padding-right: 60px;
}

td.app-radio-btn {
    width:130px;
}

/**For Results Page**/

td.results-a {
    width:375px;
    color: lightgrey;
}

td.results-b {
    width:100px;
}

table.results-table {
    margin-left:auto;
    margin-right: auto;
}

td.linkback-graphic {
    vertical-align: top;
}

table.content-space {
    margin-left:auto;
    margin-right:auto;
}

/**Profile**/

td.profile-left-col {
    width:180px;
}

/**Register**/

td.register-left-col {
    text-align: left;
    padding-right: 15px;
    padding-bottom:10px;
}

/**Manage Subscription**/

table.package-plans {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

th.package-plans, td.package-plans {
    width:175px;
}

/**CreditCardManagement**/

th.subscription-left-col, td.subscription-left-col {
    text-align:left;
    width:200px;
}

/**PaymentHistory**/

table.invoice {
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

/**UpdateUser**/

table.update-user {
    margin-left:auto;
    margin-right:auto;
    max-width:500px;
}

td.update-user {
    text-align:left;
    margin:5px;
    width:auto;
}

/**Credit card form styles**/

table.credit-card-form {
    margin-left: auto;
    margin-right: auto;
}

td.credit-card-form, td.credit-card-form {
    text-align:left;
}

/**Form box stylization**/

div.form-box {
    -moz-box-shadow: 2px 2px 4px #F0F0F0;
    -webkit-box-shadow: 2px 2px 4px #F0F0F0;
    box-shadow: 2px 2px 4px #F0F0F0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FBFBFB;
    width: auto;
}

.payment-errors {

    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:red;
}