@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error Encountered";
}

<table class="content-space">
    <tr>
        <td><h2>500 Internal Server Error</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>We're sorry; an internal error occurred while attempting to process your request.</p>
<p>Please return to the previous page and try again. If you continue to experience such errors, please contact us at directlink@directagents.com.</p><br />
</td>
    </tr>
</table>