@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error Encountered";
}

@Styles.Render("~Content/css")


<hgroup>
    <h2 class="text-error">An error occurred while processing your request.</h2>
</hgroup>
<br />
<p>If the problem persists, please contact the Administrator for further assistance.<br /></p>
