<#@ template language="C#" #>
<#=Image#> <#=AccountManager#>, <#=AdManager#>

<#=Description#>

Additional Information: <#=AdditionalInformation#>

Type: <#=Type#>

Link: <#=Link#>

Payout: <#=Payout#>

US – RenttheRunway.com By Approval Only 
Rent the Runway is the ultimate fashion secret – keep your wardrobe fresh with your favorite designers. It’s the high fashion without the hassle at 10% of the retail prices.
 
Additional information : Membership is free! 

Payable Action: Sign-up (Required Fields : Name, Email, Birthday, Zip code) 

Type - CPL: Email, banners 

Link: http://www.renttherunway.com/lp/signup/ 

Payout: $2.30 

Important Details: 

Please pitch your partners to Nichole 

No Search 

No co-registration 

No incentivization 

Campaign Cap: 1,400 leads total 

Lead Caps: Each partner needs to cap at 250 leads and have written approval to continue.
 
Payout to Direct Agents: $3.50 

Passed Information: Lead ID 

Countries: US 

No scrub unless there is fraud 

Please contact Nichole or Joe with questions. 