@{
    ViewBag.Title = "About DirectLink";
}
<hgroup>
    <h2>See Who's Talking About You</h2>
    <br />
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <table style="width:450px;">
            <tr>
                <td><br /></td>
            </tr>
            <tr>
                <td>Direct Agents is proud to introduce DirectLink, a first-of-its-kind link building tool that helps businesses drive more traffic to their sites!<br /><br />

DirectLink is able to find all mentions of a brand on URLs that don’t link back to that brand’s site, and this data can be very useful in link building and digital marketing.<br /><br />

On top of that, DirectLink has several functions that allow users to get even more out of this data by refining results with options such as filter by date and filter by news results, making this a truly unique and powerful marketing tool.<br /><br />

We have been using this tool for our own clients with great results, and now for the first time we’re excited to open it to public use. If you have any questions about how you can get the most out of this tool, please contact us.<br /><br />
Happy link building!</td>
            </tr>
        </table>
    </div>
</div>