@{
    ViewBag.Title = "About DirectLink";
}

<table class="content-space">
    <tr>
        <td><h2>Search For Linkless Mentions</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Direct Agents is proud to introduce DirectLink, a first-of-its-kind link building tool that helps businesses drive more traffic to their sites!</p>
            <p>DirectLink is able to find all mentions of a brand on URLs that don’t link back to that brand’s site, and this data can be very useful in link building and digital marketing.</p>
            <p>On top of that, DirectLink has several functions that allow users to get even more out of this data by refining results with options such as filter by date and filter by news results, making this a truly unique and powerful marketing tool.</p>
            <p>We have been using this tool for our own clients with great results, and now for the first time we’re excited to open it to public use. If you have any questions about how you can get the most out of this tool, please contact @Html.ActionLink("us", "Contact", "Home").</p>
            <p>Happy link building!</p><br />
</td>
    </tr>
        <tr>
        <td><h2>About Direct Agents</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Direct Agents is a full-service digital marketing agency specializing in customer acquisition soultions across multiple channels. For over a decade, Direct Agents has developed custom, performance-based campaigns for leading brand advertisers including Scholastic, Lending Tree, Samsung, and Amazon Local.</p><br />
            <p>Specializing in Lead Generation, Search Marketing, Programmatic Media Buying, and Creative Solutions, Direct Agents leverages best-in-class technology to dynamically engage customers and increase efficiency of marketing spend. For more information about Direct Agents, please visit <a href="http://www.directagents.com/">www.directagents.com</a>.</p>
</td>
    </tr>
</table>
<br /><br />