@model IdentitySample.Models.ContactFormViewModel

@{
    ViewBag.Title = "Contact";
}

<header>
<div class="container">
    <div class ="row clearfix">
<div class="column full">
<h2 class="topic">Reach Out To Us</h2>
<p class="small">Please contact us at directlink(at)directagents.com or 800.900.0763 with any questions.<br />
Our hours are 9:30AM to 6:00PM EST.</p>
<p>Direct Agents<br />
740 Broadway, Suite 701<br />
New York, NY 10003<br />
1 (800) 900-0763<br />
    </p>
<p class="small">Interested in link-building services? At Direct Agents, high-level link building for modern SEO is our specialty. Contact us at info@directagents.com or give us a call for more information on how Direct Agents can use link building to grow your business.</p>

    </div>
    </div>
    </div>
    </header>
<p class="text-success">@ViewBag.StatusMessage</p>

<section>
    <div class="container">
        <div class="row clearfix">
            <div class="column full">
                <h3 class="topic">Send Us A Message</h3>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "form", onsubmit = "go()" }))
{
    <table style="margin-left:auto; margin-right:auto;">
        @*<tr>
            <td><ul>
                <li><input type="checkbox" name="LeadGeneration"> Lead Generation</li>
                <li><input type="checkbox" name="AffiliateMarketing"> Affiliate Marketing</li>
                <li><input type="checkbox" name="PaidSearchAndSEO"> Lead Generation</li>
                <li><input type="checkbox" name="SocialMedia"> Affiliate Marketing</li>
                <li><input type="checkbox" name="CreativeDesign"> Affiliate Marketing</li>
                <li><input type="checkbox" name="MobileMarketing"> Lead Generation</li>
                <li><input type="checkbox" name="ProgrammaticMediaBuying"> Programmatic Media Buying</li>
                </ul>
            </td>
        </tr>*@
        <tr>
            <td><p class="small">First Name</p></td><td><input class="form-field" type="text" size ="35" name="FirstName" required></td>
        </tr>
        <tr>
            <td><p class="small">Last Name</p></td><td><input class="form-field" type="text" size ="35" name="LastName" required></td>
        </tr>
         <tr>
            <td><p class="small">Phone Number</p></td><td><input class="form-field" type="tel" size ="35" name="PhoneNum" required></td>
        </tr>
        <tr>
            <td><p class="small">Email</p></td><td><input class="form-field" type="email" size ="30" name="Email" required></td>
        </tr>
            <tr>
            <td><p class="small">Company Name</p></td><td><input class="form-field" type="text" size ="30" name="Company" required></td>
        </tr>
                    <tr>
            <td><p class="small">Message</p></td><td><textarea class="form-field" name="Message" required></textarea></td>
        </tr>
        <tr>
            <td></td><td><p class="small"><input type="submit" value="Send Message"></p></td>
        </tr>
    </table>
}

            </div>
        </div>
        <div class="row clearfix"></div>
    </div>

</section>



@*<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>*@