
@{
    ViewBag.Title = "Contact";
}
<table class="content-space">
    <tr>
        <td><h2>Reach Out To Us</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Please contact us at directlink(at)directagents.com or 800.900.0763 with any questions.<br />
Our hours are 9:30AM to 6:00PM EST.</p>
Direct Agents<br />
740 Broadway, Suite 701<br />
New York, NY 10003<br />
1 (800) 900-0763<br />
</td>
    </tr>
</table>
@*<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>*@