
@{
    ViewBag.Title = "Frequently Asked Questions";
}

<section class="feature">

    <div class="container">
                <div class='row clearfix'>
              <div class='column full'>
                <h2 class=topic>Search Operators</h2>

<p>You can narrow down your search results by adding symbols and words to your search called search operators.</p>

<p>Some search operators that can be useful here include:</p>

                  </div>
                    </div>
        </div>
</section>

<section class="feature">
<div class="container">
                <div class='row clearfix'>
              <div class='column full'>
                <h2 class='topic'>Additional Tips</h2>
              </div></div>
       <div class='row clearfix'>
              <div class='column half'>
                  <h4>Site Search</h4>
                    <p>Links from .edu and .gov sites generally have more value. To search for mentions on specific TLD’s use the site search operator.
                        For example, the search term "childfund site:edu" will only show .edu websites that mention ChildFund.</p>

                  <h4>Dates of Indexing</h4>
                    <p>For news results, you can see the date of indexation for results. You can sort by date after exporting the data.</p>

                  <h4>Negative Keywords</h4>
                <p>If your brand has a generic name, you can use search operators such as “phrase” and -negative keywords to get more relevant results.
                    For example, let’s say you own a store called books. Just searching for books is not going to get you results that are relevant to your business.
                    But you can use the “phrase” search operator to make sure the results also mention your company’s CEO, or a product/service that’s unique to your company.</p>
                  </div>
        <div class='column half'>
        
            <h4>Reach Out</h4>                           
            <p>After you get a list of websites talking about your brand without linking back, it’s time to start reaching out to them for links.
                Spend some time writing customized and thoughtful outreach letters to increase your response rate. If you can offer an incentive,
                for example, a shout out on one of your social networks, that will increase your response rate even more!</p>

            <h4>Avoid Monetary Offers</h4>
            <p>Keep in mind that you don’t want to offer money. Explicitly paying for links is against Google’s terms of service and can result in a penalty against your site.</p>
                  </div>
                    </div>
    </div>
</section>

<section id='faq'>
          <div class='container'>
            <div class='row clearfix'>
              <div class='column full'>
                <h2 class='topic'>Frequently Asked Questions</h2>
              </div>
            </div>
            <div class='row clearfix'>
              <div class='column half'>
                <h4>Why am I getting duplicate results in my search?</h4>
                <p>The search engine is constantly indexing webpages relevant to your search, and the order in which that 

data is stored and retrieved is constantly changing with current trends throughout the day. What you 

see is the result of those changes that take place. The available data at lower ranks in your search are 

the most likely to be affected by these changes, which is why duplicates are more likely to appear with 

larger search requests.</p>
                <h4>Why am I getting fewer results than what I requested?</h4>
                <p>The search engine stores millions of indexed results that are anywhere from extremely relevant to 

completely irrelevant to your search. However, only a small fraction of those results are available at a 

time, and this fraction is limited to one thousand at the very most. These results are constantly 

changing with current trends, so the results that you get at a given time of day may be different at 

another.</p>
              
                
              </div>
              <div class='column half'>
             <h4>Why are some of my searches unusually slow?</h4>
                <p>Some sites may have internal errors that occur while the tool attempts to connect to them, and this 

may cause the tool to wait for a correct response from the site it is trying to contact. This tends to 

happen with the more suspicious-looking sites that appear in the search results.</p>
             
               <h4>Why are sites that are opening correctly in my browser appearing with errors in my results?</h4>
                <p>Websites are generally designed with the expectation of being accessed through web browsers. 

Though the tool does its best to accommodate for this, some sites simply aren't configured to handle 

requests made through web applications. Thankfully, such sites are uncommon, and their links are 

available to you in your results.</p>
               
               
               
              </div>
            </div>
          </div>
        </section>

<br /><br />