
@{
    ViewBag.Title = "FAQ";
}

<section id='faq'>
          <div class='container'>
            <div class='row clearfix'>
              <div class='column full'>
                <h2 class='topic'>Frequently Asked Questions</h2>
              </div>
            </div>
            <div class='row clearfix'>
              <div class='column half'>
                <h4>Why am I getting duplicate results in my search?</h4>
                <p>The search engine is constantly indexing webpages relevant to your search, and the order in which that 

data is stored and retrieved is constantly changing with current trends throughout the day. What you 

see is the result of those changes that take place. The available data at lower ranks in your search are 

the most likely to be affected by these changes, which is why duplicates are more likely to appear with 

larger search requests.</p>
                <h4>Why am I getting fewer results than what I requested?</h4>
                <p>The search engine stores millions of indexed results that are anywhere from extremely relevant to 

completely irrelevant to your search. However, only a small fraction of those results are available at a 

time, and this fraction is limited to one thousand at the very most. These results are constantly 

changing with current trends, so the results that you get at a given time of day may be different at 

another.</p>

        <h4>Why is Export Previous Results giving me a blank spreadsheet?</h4>
        <p>Once you run a search on DirectLink, the tool will only hold your results for at most thirty minutes after your search is complete.
            After that, your results vanish, and you must begin a new search.
        </p>
              
              </div>
              <div class='column half'>
             <h4>Why are some of my searches unusually slow?</h4>
                <p>Some sites may have internal errors that occur while the tool attempts to connect to them, and this 

may cause the tool to wait for a correct response from the site it is trying to contact. This tends to 

happen with the more suspicious-looking sites that appear in the search results.</p>
             
               <h4>Why are sites that are opening correctly in my browser appearing with errors in my results?</h4>
                <p>Websites are generally designed with the expectation of being accessed through web browsers. 
Though the tool does its best to accommodate for this, some sites simply aren't configured to handle 
requests made through web applications. Thankfully, such sites are uncommon, and their links are 
available to you in your results.</p>
              </div>
            </div>
          </div>
        </section>

<br /><br />