
@{
    ViewBag.Title = "Frequently Asked Questions";
}

<table class="content-space">
        <tr>
        <td><h2>FAQ</h2></td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
    <tr>
        <th>Why did the chicken cross the road?</th>
    </tr>
        <tr>
            <td><p>The chicken is a metaphor for each of us as an individual, crossing against the oncoming traffic that manifests as the hardships in our lives. It doesn't know what's across the street; there exists only the hope that getting to the other side was worth the journey.</p><br />
    </td>
        </tr>
</table>

<br /><br />