@{
    ViewBag.Title = "Help";
}

<section>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column full'>
                <h3>How It Works</h3>
                <p style='max-width: none'>
                    Linkless mentions, or mentions of a brand on a URL that doesn't link back to the brand's website, are 
                    one of the strongest types of link building opportunities.
                </p>
                <p style='max-width: none'>
                    With DirectLink, you can find these opportunities with the click of a button. Simply enter your search
                    terms and website and DirectLink does the rest.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column full'>
                <h3>Why do we care about link building in the first place?</h3>
                <p style='max-width: none'>
                    Naturally obtaining popular and relevant sites to link to yours is one of the best ways to acquire a high ranking in online search
                    results. According to the leading SEO blog MOZ, "link building is among the top tasks required for search ranking and traffic success."
                    Gaining people who are writing about you to link to your site is extremely efficient and effective in building up your link profile.
                </p>
                <p style='max-width: none'>
                    Basically, the more links you get to your site, the higher it shows up in search results. On top of that, your referral traffic will
                    likely increase from people clicking through on the links!
                </p>
            </div>
        </div>
    </div>
</section>

<section class='feature'>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column half'>
                <h3>Using DirectLink</h3>
                <p>
                    Enter your company or brand name under "Search Query" and your website under “Target Site to Scan for,” then click "Perform Search" to
                    find your linkless mentions. For example, if you're looking for linkless mentions of "Nike," you would enter "Nike" into the "search
                    query" field and nike.com into the "Target Site to Scan for" field like so:
                </p>
                <p>
                    Now let's say that you want to make sure you don't get any results about the goddess Nike of Greek mythology. You can enter terms that are
                    closely associated with the goddess Nike, such as "mythology" or "godess," in the "exclude terms" field to filter out those results.
                </p>
            </div>
            <div class='column half'>
                <h3>&nbsp;</h3>
                <img alt='' src='http://www.directagents.com/directlink/images/how-it-works1.jpg' style="max-width: 650px;">
            </div>
        </div>
    </div>
</section>

<section class='feature'>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column half'>
                <h3>Search Operators</h3>
                <p>You can narrow down your search results even further by adding symbols and words in the "search query" field called search operators.</p>
                <p>
                    Search operators that can be useful here include:
                    <ul>
                        <li><b>intitle:</b> Returns webpages that contain the specified term in the metadata title of the site.</li>
                        <li><b>site:</b> Returns webpages that belong to the specified site.</li>
                    </ul>
                </p>
                <p>For example, using the following query:</p>
            </div>
            <div class='column half'>
                <h3>&nbsp;</h3>
                <img alt='' src='http://www.directagents.com/directlink/images/how-it-works2.jpg' style="max-width: 650px;">
            </div>
        </div>
    </div>
</section>

<section class='feature'>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column half'>
                <p>...will search for webpages that mention "nike," are on a .edu domain, and have the word "sneakers" in the title, like these:</p>
            </div>
            <div class='column half'>
                <img alt='' src='http://www.directagents.com/directlink/images/how-it-works3.jpg' style="max-width: 650px;">
            </div>
        </div>
    </div>
</section>

<section class='feature'>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column half'>
                <h3>Outreach</h3>
                <p>
                    After you've built your list of linkless mentions it's time to start reaching out to these websites to ask for links. One of the linkless
                    mentions we found for Nike is from an article in the Daily News about
                    <a href="http://www.nydailynews.com/news/national/nike-release-back-future-shoes-2015-article-1.2068815">Back to the Future brand power lace shoes</a>.
                </p>
                <p>If you scan the page or look in the source code, you'll see that there is indeed no link to nike.com.</p>
                <p>
                    Now comes the fun, creative, and challenging part &mdash; outreach. There are many approaches to this type of outreach, and there's no one correct
                    way to do this, but the general idea is that you want to send an email to the author, editor, webmaster, or anyone else who would be able to
                    add a link to the article for you.
                </p>
            </div>
            <div class='column half'>
                <h3>&nbsp;</h3>
                <img alt='' src='http://www.directagents.com/directlink/images/how-it-works4.jpg' style="max-width: 650px;">
            </div>
        </div>
        <div class='row clearfix'>
            <div class='column full'>
                <p style='max-width: none'>
                    Searching for "contact us" is usually the quickest way to find contact information, but websites can have contact information in many
                    different places, and some don't have contact information at all. If this is the case, try to think outside of the box and find the contact
                    information anyway. For example, some businesses or websites will have their contact information on their FaceBook page but not their website.
                </p>
                <p style='max-width: none'>Spend some time writing customized and thoughtful outreach letters to increase your response rate.</p>
                <p style='max-width: none'>
                    If you're going to be emailing a lot of websites, you might want to create a template to work from. Make sure you customize the template for
                    each email &mdash; this will increase your response rate because your emails won't seem automated.
                </p>
                <p style='max-width: none'>Here's an example of a template:</p>
                <p>
                    Subject: Edit Request
                    <br /><br />
                    Hello [Name],
                    <br /><br />
                    My name is [Name2], and I'm a writer for [Company]. Thanks for writing about us on [URL]!
                    <br /><br />
                    If it's not too much trouble, would you mind adding a link to our site? [Your website URL]
                    <br /><br />
                    Thanks for your time!
                    <br /><br />
                    Warmly,<br />
                    [Signature]
                </p>
                <p style='max-width: none'>If you can offer an incentive, for example, a shout out on one of your social networks, that will increase your response rate even more!</p>
                <p style='max-width: none'>Lastly, try to be as cordial as possible and maintain relationships with your new contacts &mdash; you never know when you might need their help again.</p>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class='row clearfix'>
            <div class='column half'>
                <h3>Additional Tips:</h3>

                <h4>Site Search</h4>
                <p>
                    Links from .edu and .gov sites generally have more value. To search for mentions on specific TLD's use the site search operator.
                       For example, the search term "nike site:edu" will only show .edu websites that mention Nike.
                </p>

                <h4>Dates of Indexing</h4>
                <p>For news results, you can see the date of indexation for results. You can sort by date after exporting the data.</p>

                <h4>Negative Keywords</h4>
                <p>
                    If your brand has a generic name, you can use search operators such as “phrase” and -negative keywords to get more relevant results.
                    For example, let's say you own a store called books. Just searching for books is not going to get you results that are relevant to your business.
                    But you can use the “phrase” search operator to make sure the results also mention your company's CEO, or a product/service that's unique to your company.
                </p>
            </div>
            <div class='column half'>
                <h3>&nbsp;</h3>

                <h4>Reach Out</h4>
                <p>
                    After you get a list of websites talking about your brand without linking back, it's time to start reaching out to them for links.
                    Spend some time writing customized and thoughtful outreach letters to increase your response rate. If you can offer an incentive,
                    for example, a shout out on one of your social networks, that will increase your response rate even more!
                </p>

                <h4>Avoid Monetary Offers</h4>
                <p>Keep in mind that you don't want to offer money. Explicitly paying for links is against Google's terms of service and can result in a penalty against your site.</p>

                <h4>Additional Resources</h4>
                <p>Wordstream: <a href="http://www.wordstream.com/blog/ws/2010/09/09/turn-citations-into-links">How to turn citations into links</a></p>
                <p>Buzzstream: <a href="http://www.buzzstream.com/">Link building management tool</a></p>
            </div>
        </div>
    </div>
</section>
