@{
    ViewBag.Title = "Help";
}
<style type="text/css">
#lists1, #lists2{border-top:1px solid #cfcfcf; padding-left:0px; list-style:none; margin-bottom:30px; margin-top:30px}
#list-item{border-bottom:1px solid #cfcfcf; background: url('../images/arrow-bullet.jpg') no-repeat 0px 28px; padding-top:10px; padding-bottom:10px; margin-left:0px; padding-left:55px;}
#list-item2{border-bottom:1px solid #cfcfcf; background: url('../images/arrow-bullet.jpg') no-repeat 0px 28px; padding-top:25px; padding-bottom:25px; margin-left:0px; padding-left:55px;}
.ipad1{max-width:650px; margin-bottom:-9px;}
.ipad2{max-width:650px; margin-bottom:-9px; margin-left:-70px;}
.results{margin-top:-30px; max-width:650px;}
.nike{max-width:650px; margin-top:10px;}
</style>
<section>
    <div class='container'>
        <div class='row clearfix'>
            <div class='column full'>
                <h3>How It Works</h3>
                <p style='max-width: none'>
                    Linkless mentions, or mentions of a brand on a URL that doesn't link back to the brand's website, are 
                    one of the strongest types of link building opportunities.
                </p>
                <p style='max-width: none'>
                    With DirectLink, you can find these opportunities with the click of a button. Simply enter your search
                    terms and website and DirectLink does the rest.
                </p>
            </div>
        </div>
    </div>
</section>

        <section class="featureG" style="padding-bottom:4.5rem !important;">
          <div class='container'>
            <div class='row clearfix'>
              <div class='column full' style="text-align:center;">
                <h3>Why do we care about link building in the first place?</h3>
                <div class='column half'>
                <ul id="lists1">
                	<li id="list-item">Link building is simple: when another website links to yours, you've built a link.</li>
                    <li id="list-item">The more links you have, the higher your website ranks on search engines such as Google.</li>
                    <li id="list-item">The higher your website shows up in search results, the quicker people can find your website.</li>
                </ul>
                </div>
                <div class='column half'>
                <ul id="lists2">
                	<li id="list-item">The quicker people find your site, the more traffic and revenue you will generate.</li>
                    <li id="list-item2">Links also drive referral traffic to your site!</li>
                    <li id="list-item">Link building is among the top tasks required for search ranking and traffic success.<sup>1</sup></li>
                </ul>
                </div>
                <div style="font-size:14px; margin-top:20px"><sup>1</sup> According to the leading SEO blog, MOZ</div>
              </div>
            </div>
          </div>
        </section>

         <section class='featureW'>
          <div class='container'>
            <div class='row clearfix'>
              <div class='column half'>
                <h3>Using DirectLink</h3>
                <p>Enter your company or brand name under "Search Query" and your website under "Target Site to Scan for," then click "Perform Search" to find your linkless mentions. For example, if you're looking for linkless mentions of "Nike," you would enter "Nike" into the "search query" field and nike.com into the "Target Site to Scan for" field like so</p>
              </div>
              <div class='column half'>
                <img alt='' src="~/Images/ipad1.jpg" class="ipad1">
              </div>
            </div>
          </div>
        </section>

         <section class='featureG'>
          <div class='container'>
            <div class='row clearfix'>
           
              <div class='column half' style="float:right; z-index:1; position:relative;">
                <h3>Search Operators</h3>
                <p>You can narrow down your search results even further by adding symbols and words in the "search query" field called search operators.</p>
                <p>For example, using the following query</p>
              </div>
               <div class='column half' style="float:left; z-index:-1;">
                <img alt='' src="~/Images/ipad2.jpg" class="ipad2">
              </div>
              
            </div>
          </div>
        </section>

         <section class='featureW' style="padding-bottom:3.5rem !important;">
          <div class='container'>
            <div class='row clearfix'>
              <div class='column half'>
              <h3>&nbsp;</h3>
                <p>...will search for webpages that mention "nike," are on a .edu domain, and have the word "sneakers" in the title, like these</p>
              </div>
              <div class='column half'>
                <img alt='' src="~/Images/how-it-works3.jpg" class="results">
              </div>
            </div>
          </div>
        </section>

         <section class='featureG' style="padding-bottom:4.5rem !important;">
          <div class='container'>
            <div class='row clearfix'>
            <center><h3>Outreach</h3></center>
            <div class='column half'>
                <img alt='' src="~/Images/nike.jpg" class="nike">
              </div>
              <div class='column half'>
                <p>After you've built your list of linkless mentions it's time to start reaching out to these websites to ask for links. One of the linkless mentions we found for Nike is from an article in the Daily News about <a href="http://www.nydailynews.com/news/national/nike-release-back-future-shoes-2015-article-1.2068815" target="_blank">Back to the Future brand power lace shoes</a>.
<br><br>
If you scan the page or look in the source code, you'll see that there is indeed no link to nike.com.
<br><br>
Now comes the fun, creative, and challenging part — outreach. There are many approaches to this type of outreach, and there's no one correct way to do this, but the general idea is that you want to send an email to the author, editor, webmaster, or anyone else who would be able to add a link to the article for you.</p>
              </div>
              
            </div>
          </div>
        </section>
<section class='featureW' style="padding-bottom:3.5rem !important;">
          <div class='container'>
            <div class='row clearfix'>
              <div class='column half'>
              <h3>Want us to do the work for you?</h3>
                <p>At Direct Agents, high-level link building for modern SEO is our specialty. Contact us at <a href="mailto:info@directagents.com">info@directagents.com</a> or give us a call at <a href="tel://212 925 6558">212.925.6558</a> for more information on how Direct Agents can use link building to grow your business.</p>
              </div>
              <div class='column half' style="text-align:center; height:200px; background-image:url('../Images/symbol.jpg'); background-position:center; background-repeat:no-repeat;">
                <div class='signup'>
                  <a class='button' href='https://directlink.directagents.com/Demo' title='GET STARTED!' style="width:250px; margin-top:13%">
                    GET STARTED!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

<section class="feature">
    <div class="container">
        <div class='row clearfix'>
            <div class='column half'>
                <h3>Additional Tips:</h3>

                <h4>Site Search</h4>
                <p>
                    Links from .edu and .gov sites generally have more value. To search for mentions on specific TLD's use the site search operator.
                       For example, the search term "nike site:edu" will only show .edu websites that mention Nike.
                </p>

                <h4>Dates of Indexing</h4>
                <p>For news results, you can see the date of indexation for results. You can sort by date after exporting the data.</p>

                <h4>Negative Keywords</h4>
                <p>
                    If your brand has a generic name, you can use search operators such as “phrase” and -negative keywords to get more relevant results.
                    For example, let's say you own a store called books. Just searching for books is not going to get you results that are relevant to your business.
                    But you can use the “phrase” search operator to make sure the results also mention your company's CEO, or a product/service that's unique to your company.
                </p>
            </div>
            <div class='column half'>
                <h3>&nbsp;</h3>

                <h4>Reach Out</h4>
                <p>
                    After you get a list of websites talking about your brand without linking back, it's time to start reaching out to them for links.
                    Spend some time writing customized and thoughtful outreach letters to increase your response rate. If you can offer an incentive,
                    for example, a shout out on one of your social networks, that will increase your response rate even more!
                </p>

                <h4>Avoid Monetary Offers</h4>
                <p>Keep in mind that you don't want to offer money. Explicitly paying for links is against Google's terms of service and can result in a penalty against your site.</p>

                <h4>Additional Resources</h4>
                <p>Wordstream: <a href="http://www.wordstream.com/blog/ws/2010/09/09/turn-citations-into-links">How to turn citations into links</a></p>
                <p>Buzzstream: <a href="http://www.buzzstream.com/">Link building management tool</a></p>
            </div>
        </div>
    </div>
</section>
