@{
    ViewBag.Title = "Direct Agents";
}

<table class="content-space">
        <tr>
        <td><h2>Introducing: DirectLink</h2></td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td><p>Made for marketing professionals by marketing professionals, DirectLink is the first enterprise level tool that finds out who’s talking about your brand without linking back!</p><br />
    </td>
        </tr>
</table>

<br /><br />