@{
    ViewBag.Title = "User Tech Manual";
}

<table class="content-space">
    <tr>
        <td><h2>Information</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Linkless mentions, or mentions of a brand on a URL that doesn’t link back to the brand’s website, are one of the strongest types of link building opportunities.</p>
<p>With DirectLink, you can find these opportunities with the click of a button. Simply enter your search terms and website and DirectLink does the rest.</p><br />
</td>
    </tr>

        <tr>
        <td><h2>Search Operators</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>You can narrow down your search results by adding symbols and words to your search called search operators.</p>
            <p>Some search operators that can be useful here include: </p>
            <ul>
                <li><b>intitle:</b><br />Returns webpages that contain the specified term in the metadata title of the site.</li>
                <li><b>-</b><br />Excludes webpages that contain a term or phrase (same as NOT). You can also enter these terms in the “exclude terms” field.</li>
                <li><b>site:</b><br />Returns webpages that belong to the specified site.</li>
            </ul>
            <br />
            <p>For example, the following query is searching for the term “Bookstore” on pages that don’t mention barnes & noble, have “new York” in the url, and are on a .edu domain.</p>
                <p><i>Query: Bookstore -“barnes & noble” inurl:”new york” site:edu</i></p>
                <p>Additional information on search operators can be found <a href="http://msdn.microsoft.com/en-us/library/ff795620.aspx">here</a>.</p><br />
        </td>
    </tr>

        <tr>
        <td><h2>Additional Tips</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Links from .edu and .gov sites generally have more value. To search for mentions on specific TLD’s use the site search operator. For example, the search term “childfund site:edu” will only show .edu websites that mention ChildFund.</p>
            <p>For news results, you can see the date of indexation for results. You can sort by date after exporting the data.</p>
            <p>If your brand has a generic name, you can use search operators such as “phrase” and -negative keywords to get more relevant results. For example, let’s say you own a store called books. Just searching for books is not going to get you results that are relevant to your business. But you can use the “phrase” search operator to make sure the results also mention your company’s CEO, or a product/service that’s unique to your company.</p>
            <p>After you get a list of websites talking about your brand without linking back, it’s time to start reaching out to them for links. Spend some time writing customized and thoughtful outreach letters to increase your response rate. If you can offer an incentive, for example, a shout out on one of your social networks, that will increase your response rate even more!</p>
            <p>Keep in mind that you don’t want to offer money. Explicitly paying for links is against Google’s terms of service and can result in a penalty against your site.</p><br />
</td>
    </tr>
</table>

<br /><br />
