
@{
    ViewBag.Title = "Demo Usage Limit Reached";
}

<header class="">
<section class="features" style="padding-bottom:460px;">
    <div class="container">
    <div class="row clearfix">
        <div class="column full">
            <div class="box">
                <h3 class="topic">Demo Usage Limit Reached</h3>
                <p class="small" style="text-align:center;">The demo cannot be used more than three times in quick succession.</p>
                <p class="small" style="text-align:center;">
Please try again later or <a href="https://directlink.directagents.com/Register/?Package=1">sign up</a> for a Freemium account at no cost.
                </p>
            </div>
        </div>     
        </div>
        </div>
</section>
    </header>