<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AccountingBackupEntities" connectionString="metadata=res://*/AccountingBackup.AccountingBackupData.csdl|res://*/AccountingBackup.AccountingBackupData.ssdl|res://*/AccountingBackup.AccountingBackupData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=ABWebDatabase1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>