@{
    ViewBag.Title = "Email Confirmation";
}

<h2>Email Address Confirmed</h2>
<br />
<div>
    <p>
        Success! Thank you for confirming your email address. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
