@{
    ViewBag.Title = "Email Confirmation";
}

<header class="">
<section class="features" style="padding-bottom:460px;">
    <div class="container">
    <div class="row clearfix">
        <div class="column full">
            <div class="box">
                <h3 class="topic">Confirmation Email Sent</h3>
                <p class="small" style="text-align:center;">Thank you for registering.</p>
                <p class="small" style="text-align:center;">
Please check your email for a message from from directlink@directagents.com, and click on the included link to confirm your email address.
                </p>
                <p class="small">
                    If you have not received an email from us, be sure to check your Spam/Junk folder. If you continue experiencing problems
                    enabling your account, please contact us at directlinkhelp@directagents.com for assistance.
                </p>
            </div>
        </div>     
        </div>
        </div>
</section>
    </header>