@{
    ViewBag.Title = "Direct Agents | Email Confirmation";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Thank you for registering. Please check your email and click on the included link to confirm your email address.
</p>
