@{
    ViewBag.Title = "Forgotten Password Confirmation";
}

<table class="content-space">
    <tr>
        <td><h2>Reset Information Sent</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td>
            <p>Please check your email to reset your password.</p>
        </td>
    </tr>
</table>