@{
    ViewBag.Title = "Forgotten Password Confirmation";
}

<header class="">
<section class="features" style="padding-bottom:460px;">
    <div class="container">
    <div class="row clearfix">
        <div class="column full">
            <div class="box">
                <h3 class="topic">Password Reset Information Sent</h3>
                <p class="small" style="text-align:center;">Password reset request confirmed.</p>
                <p class="small" style="text-align:center;">
Please check your email for a message from from directlink@directagents.com, and click on the included link for further instructions.
                </p>
            </div>
        </div>     
        </div>
        </div>
</section>
    </header>