
@{
    ViewBag.Title = "Logout";
}
<br /><br /><br /><br /><br /><br />
<div style="text-align:center;" style="padding:200px;"><h2 class="topic">Logging off...</h2></div>

@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"  })) {
        @Html.AntiForgeryToken()
    }
}

else {
    <script>$(location).attr('href', 'http://www.directagents.com/directlink');</script>
}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


@section Scripts {
    
    <script>
    $(document).ready(function() {
        $("#logoutForm").submit();
    })
    </script>
}