@{
    ViewBag.Title = "Password Reset Request Completed";
}

<header class="">
<section class="features" style="padding-bottom:460px;">
    <div class="container">
    <div class="row clearfix">
        <div class="column full">
            <div class="box">
                <h3 class="topic">Password Reset Request Completed</h3>
                <p class="small" style="text-align:center;">Success!</p>
                <p class="small" style="text-align:center;">
Your password reset request has been completed. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
            </div>
        </div>     
        </div>
        </div>
</section>
    </header>