@model IdentitySample.Models.Setting

@{
    ViewBag.Title = "Daily Maximum Reached";
}

@Styles.Render("~Content/css")

<table class="content-space">
    <tr>
        <td><h2>Daily Maximum Reached</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>You have reached your limit of @Html.DisplayFor(model => model.Value) runs per day.
Please wait until midnight for your allowance to reset, or contact the Admin for additional options.</p><br />
</td>
    </tr>
</table>
