@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Monthly Maximum Reached";
}

<table class="content-space">
    <tr>
        <td><h2>Package Limit: @Html.DisplayFor(m => m.Package.Name)</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>An error has occurred while processing your request.</p>
            <p>You have reached your allowed maximum of @Html.DisplayFor(m => m.Package.SearchesPerMonth) searches per month.
This limit for your account will reset on @Model.Anniversary.AddMonths(1).ToShortDateString().
If the number of searches provided is insufficient for your needs, please consider a higher package plan.</p>
<p>For inquiries and technical support, please contact the administrator at directlink@directagents.com.</p><br />
</td>
    </tr>
</table>