
@{
    ViewBag.Title = "Payment Error";
}

<table class="content-space">
    <tr>
        <td><h2>Credit Card Processing Failed</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>We encountered an error while trying to renew your subscription with your current credit card, and will require you to re-enter your credit card information. To proceed, please follow the link and re-enter your credit card information.
</p>
<p>@Html.ActionLink("Credit Card Re-Entry","UpdateCreditCard", "Payments", null, null)</p>
            <p>If further assistance is required, please contact us at directlink@directagents.com.</p><br />
</td>
    </tr>
</table>


<br /><br />