
@{
    ViewBag.Title = "Subscription Cancellation Confirmed";
}

<h2>Unsubscribed</h2>
<br />

<p>Success: your subscription was successfully cancelled.<br />
    Your package plan will persist through its paid period.<br />
    After that time has passed, your account will be reduced to Freemium,<br />
    at which point you may continue using the application at no cost.<br />
    <br />
    You may resubscribe to any of our paid Premium packages at any time.
</p>