
@{
    ViewBag.Title = "Subscription Cancellation Confirmed";
}
<table class="content-space">
    <tr>
        <td><h2>Unsubscribed</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Success!</p>
            <p>Your subscription was successfully cancelled, and your credit card information has been removed. Your package plan will persist through its paid period. After that time has passed, your account will be reduced to Freemium, at which point you may continue using the application at no cost. You may resubscribe to any of our paid packages at any time.</p>
<br />
</td>
    </tr>
</table>

<br />