@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Cancellation";
}

@if (Model.PackageId == 1) {
    
    <table class="content-space">
    <tr>
        <td><h2>You Are A Freemium User</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>An error occurred while processing your request.</p>
            <p>You are currently registered as a Freemium user, which has no monthly cost, and therefore cannot be cancelled.</p><br />
</td>
    </tr>
    </table>
    <br /><br />
}

else if (!Model.IsActive)
{
    <table class="content-space">
    <tr>
        <td><h2>Subscription Already Cancelled</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>An error occurred while processing your request.</p>
            <p>Your subscription had already been cancelled at a previous time. Once your subscription reaches the end of its pay period, your account will be assigned the Freemium package.
    </p><br />
</td>
    </tr>
    </table>
    <br /><br />
    
}
else {
    <table class="content-space">
    <tr>
        <td><h2>Cancel Subscription Confirmation</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>You are about to cancel your subscription. Doing so will also remove your credit card information. Do you wish to proceed?</p>
            <br />
</td>
    </tr>
    </table>

        using (Html.BeginForm("Cancel", "Payments", FormMethod.Post, new { id = "form" }))
            {
            <table>
                <tr>
                    <td style=""><h4><input class="radio-btn" type="radio" name="CancelSubscription" value="true" /> Yes</h4></td>
                    <td><h4><input class="radio-btn" type="radio" name="CancelSubscription" value="false" checked="checked" /> No</h4></td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><button type="submit" value="Cancel">Cancel Subscription</button></td>
                </tr>
            </table>
            }
    <br /><br />
}