
@{
    ViewBag.Title = "Credit Card Updated";
}

<h2>Card Information Revision Confirmed</h2>
<br /><br />

<p>Your credit card information has been successfully revised.<br />
    If further assistance is required, please contact the Administrator.
</p>