
@{
    ViewBag.Title = "Credit Card Updated";
}


<table class="content-space">
    <tr>
        <td><h2>Thank You</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>Success!</p>
            <p>Your credit card information has been successfully revised. If further assistance is required, please contact us at directlink@directagents.com.
</p><br />
</td>
    </tr>
</table>


<br /><br />

