@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Unconfirmed Email Address";
}

<h2>Email Address Confirmation Required</h2>
<br>

<div style:"padding:20px;">
    <p>
Your email address at @Html.DisplayFor(model => model.Email) has not been confirmed in our systems.<br>
Please check your email for a message from directlink@directagents.com and click on the given link to complete your registration.<br>
If this problem persists, or you require assistance, please contact the administrator at admin@directagents.com.<br>
        </p>
</div>