@model IdentitySample.Models.PayIndexViewModel
@*@model IEnumerable<IdentitySample.Models.Package>*@

@{
    ViewBag.Title = "Subscription Management";
}

<table class="content-space">
    <tr>
        <td><h2>Package Plans</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>The following package plans are currently available for subscription. To manage your subscription, click on the link that corresponds with your chosen package plan. You may choose to upgrade or downgrade your plan at a later time if desired.
    NOTE: Use 4242424242424242 with any CVC and expiry date.
</p>
    @if (Model.HasMessage) {<div><p style="color:red">* @Model.Message</p></div>}
</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            Current Plan
        </th>
        <th>
            Package
        </th>
        <th>
            Searches/Month
        </th>
        <th>
            Results/Search
            @*@Html.DisplayNameFor(model => model.MaxResults)*@
        </th>
        <th>
            Cost/Month
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListofPackages) {
    <tr>
        <td>@if (Model.PackageId == item.Id) { <img src="~/Images/linkback_no.png" /> }</td>
        <td>
            @Html.ActionLink(item.Name,"Pay", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchesPerMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxResults)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.CostPerMonth)
        </td>
    </tr>
}
</table>
<br /><br />