@model IdentitySample.Models.PayErrorModel

@{
    ViewBag.Title = "Credit Card Processing Error";
}

<table class="content-space">
    <tr>
        <td><h2>Error</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>A problem occurred while trying to process your payment information.</p>
    <p><b>Error: @Model.Error</b><br /><br />
    If the error persists, please contact the Adminstrator for further assistance.
</p><br />
</td>
    </tr>
</table>

<br /><br />