@model IdentitySample.Models.PayErrorModel

@{
    ViewBag.Title = "Credit Card Processing Error";
}

<h2>Error</h2>
<br /><br />
<p>A problem occurred while trying to process your payment information.<br />
    <b>Error: @Model.Error</b><br /><br />
    If the error persists, please contact the Adminstrator for further assistance.
</p>