<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DirectAgentsEntities" connectionString="metadata=res://*/Formss.AB2.Model.ABModel.csdl|res://*/Formss.AB2.Model.ABModel.ssdl|res://*/Formss.AB2.Model.ABModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectAgents6;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExternalDatabaseModel" connectionString="metadata=res://*/Formss.AB2.ExternalDatabase.ExternalDatabase.csdl|res://*/Formss.AB2.ExternalDatabase.ExternalDatabase.ssdl|res://*/Formss.AB2.ExternalDatabase.ExternalDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DADatabaseAug11;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>