@model IEnumerable<Stripe.StripeInvoice>

@{
    ViewBag.Title = "Account Payment History";
}

@section Scripts
{
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        $('.header-tr').click(function () {

            $(this).nextUntil('tr.header-tr').slideToggle(100);
        });

        $(function () {
            $('.header-tr').nextUntil('tr.header-tr').hide();
        });

        @*$('.header-tr').click(function () {
            $('tr.invoice').slideToggle('slow');
        });*@
    </script>
}

<div><h2>Invoice Items</h2>
    <br />
    <p>All items are sorted by date.</p>
    <br />
</div>

<table class="invoice-table">
    @foreach (Stripe.StripeInvoice Invoice in @Model) {
        foreach (Stripe.StripeInvoiceItem Item in Invoice.StripeInvoiceLines.StripeInvoiceItems) {
            <tr>
                <td>@Invoice.Date</td><td>@Item.Description</td><td>$@(Item.Amount.Value*0.01)</td>
            </tr>
        }
    }
</table>
<br />