@model IdentitySample.Models.PayUpdateCreditCardViewModel

@{
    ViewBag.Title = "Payment Revision";
}

@section Scripts
{
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_bqotCuVYyt6dLMoMD4doOL6V');

    var stripeResponseHandler = function (status, response) {
        var $form = $('#payment-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function ($) {
        $('#payment-form').submit(function (event) {
            var $form = $(this);
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });

</script>
}

    <div id="main">

    <header>
        <div class="container">
            <div class="row clearfix">
                <div class="column full" style="padding-bottom:30px;">
                    <h2 class="topic">Update Credit Card Information</h2>
                    <p class="payment-errors">@ViewBag.StatusMessage</p>
                    <p class="small">Please fill out the form fields below and click on Register New Card to update your credit card information.
                        Note that if you are currently using a package plan that has been cancelled, updating your credit card will reactivate your subscription.</p>
                    <p class="small">Most major credit cards in the US are accepted, including MasterCard, Visa, Discover, American Express, JCB, and Diner's Club.</p>
                </div>
            </div>
                    <form action="" method="POST" id="payment-form">
            <span style="margin-left:auto; margin-right:auto; text-align:center;" class="payment-errors"></span>


            <div class="form-box" style="max-width:700px; padding:35px;">
            <table class="credit-card-form">
                <tr>
                    <td class="credit-card-form">Name On Card</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="name" required/></td>
                </tr>
                <tr>
                    <td class="credit-card-form">Address Line 1</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line1" required/></td>
                </tr>
                <tr>
                    <td class="credit-card-form">Address Line 2</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line2"/></td>
                </tr>
                <tr>
                    <td class="credit-card-form">City</td>
                    <td class="credit-card-form"><input type="text" size="25" data-stripe="address_city" required/></td>
                </tr>
                    <tr>
                    <td class="credit-card-form">State, Postal Code </td>
                    <td class="credit-card-form"><input type="text" size="3" data-stripe="address_state"/> <input type="text" size="8" data-stripe="address_zip" required/></td>
                </tr>
                   @*<tr>
                    <th>Country</th>
                    <td><input type="text" size="5" data-stripe="address_country"/></td>
                </tr>*@
                   <tr>
                    <td class="credit-card-form">Card Number</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="number"/></td>
                </tr>
                    <tr>
                    <td class="credit-card-form">CVC</td>
                    <td class="credit-card-form"><input type="text" size="4" data-stripe="cvc"/></td>
                </tr>
                <tr>
                    <td class="credit-card-form" style="padding-right:4px;">Expiration (MM/YYYY) </td>
                    <td class="credit-card-form"><input type="text" size="2" data-stripe="exp-month"/> / <input type="text" size="4" data-stripe="exp-year"/></td>
                </tr>
            </table>
          <div style="margin:35px;"><button type="submit">Register New Card</button></div>
        </div>

        </form>
            </div>
                </header>

        </div>