<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DirectAgentsModelContainer" connectionString="metadata=res://*/Models.DirectAgents.Model.csdl|res://*/Models.DirectAgents.Model.ssdl|res://*/Models.DirectAgents.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=biz2\da;initial catalog=DirectAgents7;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>